@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
}

body {
    background-color: #8cc6ff;
    background: linear-gradient(135deg, #6fb2f6 0%, #79b1f6 100%); 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    width: 80vw;
    min-height: 80vh; 
    max-height: 90vh; 
    background-color: #a1cbf4; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
main.clear { background-image: url('../img/clear.jpg'); }
main.clouds { background-image: url('../img/cloudy.jpeg'); }
main.overcast { background-image: url('../img/overcast.jpeg'); }
main.rain { background-image: url('../img/rain.jpg'); }
main.snow { background-image: url('../img/snow.jpeg'); }
main.drizzle { background-image: url('../img/drizzle.jpeg'); }
main.thunder { background-image: url('../img/thunder.jpg'); }
main.mist { background-image: url('../img/mist.jpeg'); }


.side-container {
    width: 25%; 
    padding: 20px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px;
    height: auto;
}
.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    padding-bottom: 6px;
    justify-content: center;
    border-bottom: 1px solid #ffff;
}

.geo-input {
    all: unset;
    flex: 1;
    width: 100%;
    margin: 0 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
}

.geo-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-button {
    border: none;
    background: transparent;
    -webkit-animation: none;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}

.day {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.day_temperature {
    color: #fff;
    font-size: 50px;
}

.day_feelslike {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin: 9px 0 6px 0;
}

.day_conditions {
    width: 100%;
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day_conditions li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.day_condition {
    color: #fff;
    font-size: 24px;
}

.day_conditiontext {
    color: #fff;
    font-size: 13px;
}

.main-container {
    flex-grow: 1; 
    min-height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
}

.title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 17px;
}

.weather-primary-title {
    color: #fff;
    font-size: 38px;
    line-height: 100%;
    margin-bottom: 18px;
    letter-spacing: -1.9px;
    word-wrap: break-word;
}

.weather_location {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.location-icon {
    width: 15px;
    height: 15px;
    color: #fff;
    margin-right: 8px;
}

.weather_location-text {
    color: #fff;
    font-size: 13px;
}

.weather_primarystatus {
    color: #fff;
    font-size: 13px;
    margin-bottom: 80px;
    width: 100%;
    white-space: pre-line;    
    line-height: 1.0;
}
.forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.forecast-item {
    flex: 0 1 18%;
    max-width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.forecast-time {
    font-size: 14px;
    margin-bottom: 4px;
    color: #fff;
}

.forecast-temp {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    line-height: 100%;
}

.forecasthumidity {
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
}
